body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 100%;
    background-color: white;
}

.LogoDiv{
    width: 140px;
    height: 80px;
    position: absolute;
    background-size: cover;
    background-image: url("../web/image/Logo.png");
}

.TopBar{
    width: 100%;
    height: 80px;
    position: absolute;
    background-color: lightpink;
}


.SearchInput{
    width: 1000px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 300px;
    border: 1px solid lightpink;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 15px;
    color: lightgrey;
}

.SearchInput:focus {
    outline:none;
    border: 1px solid lightpink;
    color: black;
    box-shadow: 0px 0px 5px white;
}

.ProductDiv{
    width: 400px;
    height: 500px;
    background-color: white;
    border: 1px solid lightpink;
    float: left;
    margin-left: 60px;
    margin-top: 100px;
}
.ProductDiv:hover{
    box-shadow: 0px 0px 20px lightpink;
}

.ProductPhotoDiv{
    width: 400px;
    height: 400px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ProductNameDiv{
    width: 300px;
    height: 40px;
    border:  none;
    margin-left: 50px;
    color: lightpink;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
}
.ProductPriceDiv{
    width: 300px;
    height: 30px;
    border: none;
    margin-left: 50px;
    margin-top: 10px;
    color: lightpink;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
